<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">

    </nav>

    @RenderBody()

    <!--Footer-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
</body>
</html>
