@font-face {
    font-family: myfont;
    src: url('font/GE_SS_Two_Bold.otf') format('opentype');
}
@font-face {
    font-family: myfont2;
    src: url('font/DroidKufi-Regular.ttf') format('truetype');
}
.navbar-default {
    background-color: #f9b786;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav>li>a {
    color:#a29b80;
    font-family:myfont;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.nav>li {
    position: relative;
    display: block;
    padding-top: 10px;
    height: 70px;
}
.myfooter {
    background-color: #f9b786;
    font-family:myfont;
    text-align:justify;
}
.subfooter {
    background-color: #908b61;
    padding:10px;
    color:white;
    text-align:center;
}
.myfooter a, p{
    color: #f7ecc5;
}
.myfooter h3, ul, p {
    margin-bottom:20px;
    font-family:myfont2;
    list-style-type:none;
}